*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
   background-color: blue;
}
.Veb{
    margin-top: 500px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}
a{
    font-size: 50px;
    color: aqua;
    text-decoration: none;
    transition: 0.7;
}
a:hover{
       color: blueviolet;
       border-top: 1px solid #fff;
       border-bottom: 1px solid #fff;
       margin-top: 150px;
       animation: linear infinite;
       line-height: normal;
}
